version: '3.9'
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name:  MLET-API---EMBRAPA
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
